MAX_TOKEN=
MAX_BOT_TOKEN=
MAX_API_BASE=https://platform-api2.max.ru
SUD_MAX_DAYS=31
SUD_EXPORT_TIMEOUT_SECONDS=14400
SUD_HTTP_TIMEOUT_SECONDS=20
SUD_WEEKLY_CHAT_ID=
SUD_ADMIN_USER_IDS=6393482
GODMOD_ACCESS_ADMIN_USER_IDS=6393482
SUD_COMMERCE_PASSWORD=
GODMOD_USE_MOCK_DATA=false
MAX_ALLOWED_CHAT_IDS=
VK_API_TOKEN=
VK_SERVICE_TOKEN=
VK_COMMUNITY_TOKEN=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_USER_SESSION=
TWOGIS_API_KEY=
GOOGLE_PLACES_API_KEY=
